<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>
<body>
    
    <h2>Welcome, {{ user.first_name }}</h2>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        
        <h3>Add a Favorite Book</h3>
    <form action='create_book/' method='POST'>
    {%csrf_token%}
    <p>Title: <input name='title' type='text'></p>
    <p>Description: <input name='description' type='text'></p>
    <button name='add' type='submit'>Add</button>
    </form>

    <h2>All Books</h2>
    <ul class='all_books'>
        {% for book in all_the_books %}
            <li>
                {{ Book.title }}
                <p>(added by {{ uploader.first_name }}{{ uploader.last_name }})</p>
            </li>
        {% endfor %}
    </ul>

    <button><a href="logout">logout</a></button>

</body>
</html>